body{
	margin: 0;
}
.nav{
	/*display: grid;
	grid-template-rows: 1fr;*/
	background-color: black;
	align-items: center;
}

.nav_logo{
	width: 60px;
	margin-left:10px;
} 

.nav_slogan h1{
	text-align: center;
	color: white;

}

.link{

	display: flex;
	justify-content: center;
	color: white;
	float: right;
	margin-left: 10px;
}

.link a{

	color:white;
	display: flex;
	justify-content: center;
	text-decoration: none;
	margin-left: 10px;

	}


@media only screen and (min-width: 768px) {
	body{

		width:100%;
	}
	.nav{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	}
}